.profile {
  padding-top: 8rem;
  background: linear-gradient(#020024 0%,#090979 25%,#00d4ff 100%);
  
}

#portfolio {
  padding-top: 4rem;
  background-color: white;
}

#contact {
  padding-top: 2rem;
}

footer {
  background: linear-gradient(#020024 0%,#090979 25%,#00d4ff 100%);
  padding-top: 2rem;
  padding-bottom: 4rem
}
